.imgFix {
	max-width: 250px;
    max-height: 250px;
}

.shift-content {
	text-align: center;
    margin-left: 25px;
}

label, span {
	color: #435960;
	font-weight: bold;
}

.mat-raised-button.mat-primary{
    margin-top: 15px;
    margin-left: 25px;
	margin-bottom: 50px;
}