<div class="shift-content">
    <h1>Shopping Cart</h1>
    <br>

    <div *ngIf="emptyCart === true">
        <img src="assets\profile\empty-cart.png">
        <h1> Oh no! Your cart is empty!</h1>
    </div>
</div>

<div>
    <table mat-table [dataSource]="cart" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let item"> {{ item.price }} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef> Count </th>
          <td mat-cell *matCellDef="let item"> {{ counter }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <br>

    <button mat-raised-button color="primary" (click)="clearCart()">Clear Entire Cart</button>
    <button mat-raised-button color="primary">Proceed to Checkout</button>
</div>