<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="/" class="headerText">
      <h1>
        {{ title }}
      </h1> 
    </a>
  <span class="fill-space"></span>
  <div>
    <a routerLink="/cart" class="cart"> Cart <i class="fas fa-shopping-bag"></i></a>
    <mat-icon 
      matBadgeHidden="{{ hideBadge }}" 
      matBadge="{{num}}" 
      matBadgeColor="warn" 
      matBadgeOverlap="false"
      style="display: inline-block;">
    </mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden"> Number of items in cart: </span>
  </div>
  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="/home" routerLinkActive #rlaHome="routerLinkActive" [active]="rlaHome.isActive">Home</a>
  <!-- <a mat-tab-link routerLink="/aboutUs" routerLinkActive #rlaAbout="routerLinkActive" [active]="rlaAbout.isActive">About Us</a> -->
  <a mat-tab-link routerLink="/menu" routerLinkActive #rlaMenu="routerLinkActive" [active]="rlaMenu.isActive">Menu</a>
  <!-- <a mat-tab-link routerLink="/contactUs" routerLinkActive #rlaContact="routerLinkActive" [active]="rlaContact.isActive">Contact Us</a> -->
</nav>


<main>
  <router-outlet></router-outlet>
</main>