/* You can add global styles to this file, and also import other style files */
@import "scss/fontawesome.scss";

@import "scss/solid.scss";

@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-raised-button.mat-primary{
    background-color: #dbbf9e;
}


